# Lines starting with this satanic symbol are comments
# 
# Syntax:
# __FilmDef := __FilmID __FilmPath __FramesNum __BoxDef+
# __FilmID := The string-ID of this film
# __FilmPath := The path of the film on the filesystem
# __FramesNum := Number pf frames
# __BoxDef := {x,y,w,h} of each frame
#
# WARNING: No extra new lines or empty lines or anything peculiar!
xmaspac ./resources/animation_films/pacman.png 4 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4}
sqr ./resources/animation_films/square.png 1 {0,0,8,8}
# 0-13  down
# 14-27 
# 28-41 
# 42    up
kipac ./resources/animation_films/paccy.png 43 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4} {80,0,4,4} {84,0,4,4} {88,0,4,4} {92,0,4,4} {96,0,4,4} {100,0,4,4} {104,0,4,4} {108,0,4,4} {112,0,4,4} {116,0,4,4} {120,0,4,4} {124,0,4,4} {128,0,4,4} {132,0,4,4} {136,0,4,4} {140,0,4,4} {144,0,4,4} {148,0,4,4} {152,0,4,4} {156,0,4,4} {160,0,4,4} {164,0,4,4} {168,0,4,4} 
# huge useless film --
# frame 0 :: whole
# frame 1 :: sm_prl
# frame 2 :: lrg_prl
# frame 3 :: vrt_prl
# frame 4 :: hr_bar	
# frame 5 :: hr_wall
# frame 6 :: xl_prl
# frame 7 :: vrt_bar
# frame 8 :: vrt_wall
# frame 9 :: l_hr_wall
# frame 10:: xl_hr_wall
# frame 11:: sm_vrt_wall
__test_bg ./resources/animation_films/__test_bg.png 12 {0,0,72,100} {0,0,7,5} {0,0,10,5} {0,0,2,10} {0,0,61,1} {0,0,7,2} {0,0,12,9} {0,0,1,19} {0,0,2,15} {0,0,8,2} {0,0,18,2} {0,0,2,6}

__test_snail ./resources/animation_films/__test_bg.png 20 {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4} {0,0,4,4}

sm_prl_5_5 ./resources/animation_films/sm_prl_1_5_5.png 1 {0,0,7,5}

sm_prl_40_5 ./resources/animation_films/sm_prl_2_40_5.png 1 {0,0,7,5}

lg_prl_16_5 ./resources/animation_films/lg_prl_16_5.png 1 {0,0,10,5}

lg_prl_36_5 ./resources/animation_films/lg_prl_36_5.png 1 {0,0,10,5}

xl_prl_0_20 ./resources/animation_films/xl_prl_0_20.png 1 {0,0,12,9}

xl_prl_50_20 ./resources/animation_films/xl_prl_50_20.png 1 {0,0,12,9}

xl_prl_50_33 ./resources/animation_films/xl_prl_50_33.png 1 {0,0,12,9}

xl_prl_0_33 ./resources/animation_films/xl_prl_0_33.png 1 {0,0,12,9}

vrt_wall_16_14 ./resources/animation_films/vrt_wall_16_14.png 1 {0,0,2,15}

vrt_wall_16_33 ./resources/animation_films/vrt_wall_16_33.png 1 {0,0,2,9}

vrt_wall_44_14 ./resources/animation_films/vrt_wall_44_14.png 1 {0,0,2,15}

vrt_wall_30_16 ./resources/animation_films/vrt_wall_30_16.png 1 {0,0,2,6}

vrt_wall_30_1 ./resources/animation_films/vrt_wall_30_1.png 1 {0,0,2,9}

#center_22_26 ./resources/animation_films/center_22_26.png 1 {0,0,18,10}

center_left ./resources/animation_films/center_left.png 1 {0,0,1,10}

center_right ./resources/animation_films/center_right.png 1 {0,0,1,10}

center_down ./resources/animation_films/center_down.png 1 {0,0,16,1}

center_upper_left ./resources/animation_films/center_upper_left.png 1 {0,0,6,1}

center_upper_right ./resources/animation_films/center_upper_right.png 1 {0,0,6,1}

hr_wall_22_14 ./resources/animation_films/hr_wall_22_14.png 1 {0,0,18,2}

hr_wall_16_46 ./resources/animation_films/hr_wall_16_46.png 1 {0,0,10,2}

vrt_wall_9_48 ./resources/animation_films/vrt_wall_9_48.png 1 {0,0,2,6}

vrt_wall_16_52 ./resources/animation_films/vrt_wall_16_52.png 1 {0,0,2,6}

vrt_prl ./resources/animation_films/vrt_prl.png 1 {0,1,2,9}

n_border ./resources/animation_films/n_border.png 1 {0,0,63,1}

nw_border ./resources/animation_films/nw_border.png 1 {0,0,1,19}

ne_border ./resources/animation_films/ne_border.png 1 {0,0,1,19}

sw_border ./resources/animation_films/sw_border.png 1 {0,0,1,22}

se_border ./resources/animation_films/se_border.png 1 {0,0,1,22}

s_border ./resources/animation_films/s_border.png 1 {0,0,63,1}

hr_wall_5_14 ./resources/animation_films/hr_wall_5_14.png 1 {0,0,7,2}

hr_wall_18_20 ./resources/animation_films/hr_wall_18_20.png 1 {0,0,8,2}

hr_wall_36_20 ./resources/animation_films/hr_wall_36_20.png 1 {0,0,8,2}

l_hr_wall ./resources/animation_films/l_hr_wall.png 1 {0,0,7,2}

vrt_wall_16_52 ./resources/animation_films/vrt_wall_16_52.png 1 {0,0,2,6}

hr_wall_5_58 ./resources/animation_films/hr_wall_5_58.png 1 {0,0,21,2}

hr_wall_36_58 ./resources/animation_films/hr_wall_36_58.png 1 {0,0,21,2}

hr_wall_2_52 ./resources/animation_films/hr_wall_2_52.png 1 {0,0,5,2}

hr_wall_56_52 ./resources/animation_films/hr_wall_56_52.png 1 {0,0,5,2}

hr_wall_50_46 ./resources/animation_films/hr_wall_50_46.png 1 {0,0,7,2}

hr_wall_5_46 ./resources/animation_films/hr_wall_5_46.png 1 {0,0,7,2}

lol ./resources/animation_films/lol.png 1 {0,0,7,5}

dark_portal ./resources/animation_films/dark_portal.png 1 {0,0,4,1}


# Dark Snailz
# Noemal snails
snaily ./resources/animation_films/snaily.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}
snailyb ./resources/animation_films/snailyb.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}
snailyd ./resources/animation_films/snailyd.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}
snailyl ./resources/animation_films/snailyl.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}

# Eatable snails
snailyeat ./resources/animation_films/snailyeat.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}
snailybeat ./resources/animation_films/snailybeat.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}

snailydeat ./resources/animation_films/snailydeat.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}

snailyleat ./resources/animation_films/snailyleat.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}


# Eatten snails
snailyate ./resources/animation_films/snailyate.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}

snailybate ./resources/animation_films/snailybate.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}

snailydate ./resources/animation_films/snailydate.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}

snailylate ./resources/animation_films/snailylate.png 20 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4} {24,0,4,4} {28,0,4,4} {32,0,4,4} {36,0,4,4} {40,0,4,4} {44,0,4,4} {48,0,4,4} {52,0,4,4} {56,0,4,4} {60,0,4,4} {64,0,4,4} {68,0,4,4} {72,0,4,4} {76,0,4,4}

# Choco drinks
choco ./resources/animation_films/choco.png 6 {0,0,4,4} {4,0,4,4} {8,0,4,4} {12,0,4,4} {16,0,4,4} {20,0,4,4}

# Dots
dotg ./resources/animation_films/dot_sini.png 1 {0,0,1,1}
dotr ./resources/animation_films/dot_undead.png 1 {0,0,1,1}
dotb ./resources/animation_films/dot_sini.png 1 {0,0,1,1}
doto ./resources/animation_films/dot_undead.png 1 {0,0,1,1}
