# Lines starting with this satanic symbol are comments
# 
# __ObstPlatsConf := __Plat_id __Plat_x __Plat_y __ONum {__ObstDef}__ONum
# __Plat_id := platform's id (unsigned decimal 0-65535)
# __Plat_x := platform's x (relative to the map)
# __Plat_y := platform's y (relative to the map)
# __ONum := number of obstacle sprites which consist this platform
# __ObstDef := __ObstID __Obst_x __Obst_y
# __ObstID := ID of the obstacle sprite for this obstacle
# __Obst_x := the obstacle sprite's x (relative to the platform)
# __Obst_y := the obstacle sprite's y (relative to the platform)
#
# WARNING: No extra new lines or empty lines or anything peculiar!
#

